body {
  font-family: 'Barlow Semi Condensed', 'sans-serif';
}

.card {
  margin: 1.4rem 0;
  background-color: gray;
  color: white;
  /* background-image: url('./images/bg-pattern-quotation.svg'); */
  padding: 2rem;
  border-radius: 10px;
}

.user-comment {
  color: hsl(0, 0%, 100%);
  opacity: 70%;
}

.user-profile {
  display: flex;
  justify-content: flex-start;
}